a:visited {
    color: red;
}

/* a:hover {
    color: yellow;
} */

.links a:hover {
    color: yellow;
}

a.highlight:hover {
    color: blue;
}

/* div {
    width: 400px;
    height: 80px;
    background-color: black;
    color: #fff;
} */

/* div:hover {
    background-color: blue;
    cursor: pointer;
} */

div {
    background-color: black;
    color: #fff;
    cursor: pointer;
}

/* p {
    
    background-color: yellow;
    color: #000;
    width: fit-content;
    margin-top: 50px;
    display: none;
}

div:hover p {
    display: block;
} */

p::first-line {
    color: #ff0000;
    font-variant: small-caps;
}

p::first-letter {
    color: #ff0000;
    font-variant: small-caps;
    font-size: 100px;
}

h1::before {
    content: 'Hey ';
}

h1::after {
    content: ' World';
}

::marker {
    color: red;
    font-size: 90px;
}

p::selection {
    background-color: green;
    color: #fff;
}