/* div {
    height: 400px;
    background-color: rgba(0, 8, 0, 0.5);
    /* opacity: 0.3; */
    border: 2px solid greenyellow;

/* } */ 

h1 {
    color: white;
}

body {
    height: 100vh;
    background-color: green;
    background-size: 100%;
    background-image: url(coneflowers-8428364_1280.webp);
    background-repeat: no-repeat;
    /* background-position: bottom left; */
    background-attachment: fixed;
}