body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent-container {
    width: 450px;
    height: 450px;
    background-color: red;
    display: flex;
    /* padding: 20px; */
    /* padding-left: 20px;
    padding-top: 40px; */
    /* padding: 20px 40px 60px 80px; */
    /* padding: 20px 40px 60px; */
    /* padding: 20px 40px; */
    padding: 40px;
    box-sizing: border-box;
    /* margin-left: 100px;
    margin-top: 100px; */
    /* align-items: center; */
    /* justify-content: center; */
}

.container {
    height: 300px;
    width: 300px;
    background-color: black;
    /* margin-left: 20px; */
    /* margin-top: 50px; */
    /* margin-right: 40px; */
    /* margin-bottom: 50px; */
    /* margin: 10px 20px 30px 60px; */
    /* margin: 25px 50px 75px; */
    /* margin: 25px 50px; */
    /* margin: 50px; */
    /* margin: auto; */
    /* margin: inherit; */
}